@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    padding-top: 70px;
}

.navbar .logo span {
    font-weight: bold;
    font-size: 24px;
}

h1 {
    margin-bottom: 30px;
    text-align: center;
    color: #333;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    border-radius: 6px;
    padding: 10px;
}

form {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: auto;
}
